<ul class="nav mb-4">
  <li class="nav-item pull-left">
    <%= link_to "Create New Plan", new_plan_path, :class => "nav-link" %>
  </li>
  <li class="nav-item pull-left">
    <%= link_to "Plan List", plans_path, :class => "nav-link" %>
  </li>
</ul>
<hr>
